dos formularios en una mismo css 

CODIGO HTML
<form id="formulario1">
   <input.....>
</form>
<form id="formulario2">
   <input.....>
</form> 

CODIGO CSS
#formulario1 input{background-color:#FF0000;}
#formulario2 input{background-color:#0000FF;}

/*******************************************/


dos formularios en un mismo css

En el CSS
input.rojo {background-color: #ff0000;color: #ffffff}
input.azul {background-color: #0000ff;color: #ffffff}

en el HTML

<input class="rojo"...
<input class"azul"....

/********************************************/
