@charset "utf-8";

body, div, h1, form, fieldset, input{
	margin: 0; padding: 0;border: 0; outline: none;
}

html{
	height: 100%
}

body{
	font-family: 'Montserrat', sans-serif;
}
/*tipos de letras*/
.muli{
	font-family: 'Muli', sans-serif;
}
.montserrat{
	font-family: 'Montserrat', sans-serif;
}

/*tamaños de letras*/
.pequeno{
	font-size: 0.8em;
}
.grande{
	font-size: 1.5em;
}
/* COLORES*/
.carne{
	color: #F5E49B;
}

.carne-oscuro{
	color: #BDB37D;
}

.azul-claro{
	color: #338C8D;
}

.azul-oscuro{
	color: #35353E;
}
/*******************************************/
/* cuadro del formulario*/
form{
	border: 0px solid #338C8D;
	width: 720px; /*tamaño del recuadro*/
	margin: 50px auto; /*para centrar 50 arriba y abajo, se centra automaticamente a los costados*/

}
/*para el titulo*/
form h1 {
	text-align:center;
	font-size: 30pt;
	margin: 40px 0; /*centrar dentro de la caja*/
	font-family: 'Montserrat', sans-serif;
}

form h3{
	margin: 30px 20px;
}

form input{
	width: 660px; /*ancho de cada caja input*/
	height: 30px; /*alto de cada caja input*/
	padding: 0px 10px;/* los espacios que va a tener las letras dentro de la caja input...->costados/arriba y abajo 10*/
	margin: 10px 20px;/*espaciado entre cajas input arriba y abajo / costados*/
	color: #35353E;/**/
	border-top: 1px solid #338C8D;/*raya de arriba grosor, colido y color*/
	font-family: 'Muli', sans-serif;
}
.arreglo{
	width: 

}

form label{
	margin: 0px 20px;
}

form button{
	width:135px;
	margin: 40px 0px 30px 150px;
	height: 30px;
	background: #b5bdc8; /* Old browsers */
	background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
	border: 0px solid #338C8D;
	color: #fff;
	box-shadow: 0px 2px 0px #000;/*sombra aplica en la parte de abajo*/
	-moz-box-shadow: 0px 2px 0px #000;
	-webkit-box-shadow: 0px 2px 0px #000;	
	border-radius: 3px; /*para las puntas esten redondas*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

form button:hover{
	background: #3a3a3a; /*cuando el puntero se acerca al boton este cambia de color*/
}

form button:active{
	background: #28343b; /* almomento de hacer click el boton vuelve a cambiar de color */
	background: -moz-linear-gradient(top,  #28343b 0%, #828c95 64%, #b5bdc8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #28343b 0%,#828c95 64%,#b5bdc8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #28343b 0%,#828c95 64%,#b5bdc8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8',GradientType=0 ); /* IE6-9 */
}

#Inicio{
	
}